---
http_interactions:
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/circulationActions/loans?view=full
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version = "1.0" encoding = "UTF-8"?><pat-loan-list><reply-text>ok</reply-text><reply-code>0000</reply-code><loans><translate-change-active-library>NYU50</translate-change-active-library><institution
        code="NYU50"><inst-name>NYU50</inst-name><loan renew="Y" href="http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/circulationActions/loans/NYU50003034208"><z30-collection-code>MAIN</z30-collection-code><z30-item-status-code>01</z30-item-status-code><z30-item-process-status-code></z30-item-process-status-code><z30><translate-change-active-library>NYU50</translate-change-active-library><z30-doc-number>001305441</z30-doc-number><z30-item-sequence>    3.0</z30-item-sequence><z30-barcode>31182025043745</z30-barcode><z30-sub-library>NYU
        Courant</z30-sub-library><z30-material>Books</z30-material><z30-item-status>Regular
        loan</z30-item-status><z30-open-date>19990408</z30-open-date><z30-update-date>20000829</z30-update-date><z30-cataloger>PERROTD</z30-cataloger><z30-date-last-return>20120509</z30-date-last-return><z30-hour-last-return>1729</z30-hour-last-return><z30-ip-last-return>128.122.20.47</z30-ip-last-return><z30-no-loans>019</z30-no-loans><z30-alpha>L</z30-alpha><z30-collection>Main
        Collection</z30-collection><z30-call-no-type>0</z30-call-no-type><z30-call-no>QA184
        .A66 1997</z30-call-no><z30-call-no-key>0 qa&quot;184 a66 1997</z30-call-no-key><z30-call-no-2-type></z30-call-no-2-type><z30-call-no-2></z30-call-no-2><z30-call-no-2-key></z30-call-no-2-key><z30-description></z30-description><z30-note-opac></z30-note-opac><z30-note-circulation></z30-note-circulation><z30-note-internal></z30-note-internal><z30-order-number></z30-order-number><z30-inventory-number></z30-inventory-number><z30-inventory-number-date>00000000</z30-inventory-number-date><z30-last-shelf-report-date>00000000</z30-last-shelf-report-date><z30-price></z30-price><z30-shelf-report-number></z30-shelf-report-number><z30-on-shelf-date>00000000</z30-on-shelf-date><z30-on-shelf-seq>000000</z30-on-shelf-seq><z30-doc-number-2>000000000</z30-doc-number-2><z30-schedule-sequence-2>00000</z30-schedule-sequence-2><z30-copy-sequence-2>00000</z30-copy-sequence-2><z30-vendor-code></z30-vendor-code><z30-invoice-number></z30-invoice-number><z30-line-number>00000</z30-line-number><z30-pages></z30-pages><z30-issue-date>00000000</z30-issue-date><z30-expected-arrival-date>00000000</z30-expected-arrival-date><z30-arrival-date>00000000</z30-arrival-date><z30-item-statistic></z30-item-statistic><z30-item-process-status>Not
        in Process</z30-item-process-status><z30-copy-id></z30-copy-id><z30-hol-doc-number>002338815</z30-hol-doc-number><z30-temp-location>No</z30-temp-location><z30-enumeration-a></z30-enumeration-a><z30-enumeration-b></z30-enumeration-b><z30-enumeration-c></z30-enumeration-c><z30-enumeration-d></z30-enumeration-d><z30-enumeration-e></z30-enumeration-e><z30-enumeration-f></z30-enumeration-f><z30-enumeration-g></z30-enumeration-g><z30-enumeration-h></z30-enumeration-h><z30-chronological-i></z30-chronological-i><z30-chronological-j></z30-chronological-j><z30-chronological-k></z30-chronological-k><z30-chronological-l></z30-chronological-l><z30-chronological-m></z30-chronological-m><z30-supp-index-o></z30-supp-index-o><z30-85x-type></z30-85x-type><z30-depository-id></z30-depository-id><z30-linking-number>000000000</z30-linking-number><z30-gap-indicator></z30-gap-indicator><z30-maintenance-count>006</z30-maintenance-count><z30-process-status-date>00000000</z30-process-status-date></z30><z36-sub-library-code>NCOUR</z36-sub-library-code><z36><translate-change-active-library>NYU50</translate-change-active-library><z36-doc-number>001305441</z36-doc-number><z36-item-sequence>000030</z36-item-sequence><z36-id>BOR_ID</z36-id><z36-number>003034208</z36-number><z36-material>BOOK</z36-material><z36-sub-library>NYU
        Courant</z36-sub-library><z36-status>Active</z36-status><z36-loan-date>20120518</z36-loan-date><z36-loan-hour>1555</z36-loan-hour><z36-effective-due-date>00000000</z36-effective-due-date><z36-due-date>20130531</z36-due-date><z36-due-hour>1900</z36-due-hour><z36-returned-date>00000000</z36-returned-date><z36-returned-hour>0000</z36-returned-hour><z36-item-status>01</z36-item-status><z36-bor-status>NYU
        Administrator</z36-bor-status><z36-letter-number>0</z36-letter-number><z36-letter-date>00000000</z36-letter-date><z36-no-renewal>2</z36-no-renewal><z36-note-1></z36-note-1><z36-note-2></z36-note-2><z36-loan-cataloger-name>LOZADAS</z36-loan-cataloger-name><z36-loan-cataloger-ip>128.122.20.47</z36-loan-cataloger-ip><z36-return-cataloger-name></z36-return-cataloger-name><z36-return-cataloger-ip></z36-return-cataloger-ip><z36-renew-cataloger-name>WWW-X</z36-renew-cataloger-name><z36-renew-cataloger-ip>128.122.149.53</z36-renew-cataloger-ip><z36-renew-mode>WEB</z36-renew-mode><z36-bor-type>CB</z36-bor-type><z36-note-alpha></z36-note-alpha><z36-recall-date>00000000</z36-recall-date><z36-recall-due-date>00000000</z36-recall-due-date><z36-last-renew-date>20130128</z36-last-renew-date><z36-original-due-date>20120929</z36-original-due-date><z36-process-status></z36-process-status><z36-loan-type></z36-loan-type><z36-proxy-id></z36-proxy-id><z36-recall-type></z36-recall-type><z36-return-location></z36-return-location><z36-return-sub-location></z36-return-sub-location><z36-source></z36-source><z36-delivery-time></z36-delivery-time><z36-tail-time></z36-tail-time></z36><z13><translate-change-active-library>NYU50</translate-change-active-library><z13-doc-number>001305441</z13-doc-number><z13-year>1997</z13-year><z13-open-date>20080618</z13-open-date><z13-update-date>20080618</z13-update-date><z13-call-no-key></z13-call-no-key><z13-call-no-code>LOC0</z13-call-no-code><z13-call-no>QA184</z13-call-no><z13-author-code>1001</z13-author-code><z13-author>Apostol,
        Tom M.</z13-author><z13-title-code>24510</z13-title-code><z13-title>Linear
        algebra :</z13-title><z13-imprint-code>260</z13-imprint-code><z13-imprint>New
        York : J. Wiley, c1997.</z13-imprint><z13-isbn-issn-code>020</z13-isbn-issn-code><z13-isbn-issn>0471174211
        (cloth : acid-free paper)</z13-isbn-issn></z13><fine></fine><renew-info>2
        (no limit on number of renewals).No limit on latest due date.</renew-info></loan><loan
        renew="Y" href="http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/circulationActions/loans/NYU50003034207"><z30-collection-code>MAIN</z30-collection-code><z30-item-status-code>01</z30-item-status-code><z30-item-process-status-code></z30-item-process-status-code><z30><translate-change-active-library>NYU50</translate-change-active-library><z30-doc-number>000007935</z30-doc-number><z30-item-s[...]
- request:
    method: put
    uri: http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/record/NYU01000062856/items/NYU50000062856000010/hold
    body:
      encoding: US-ASCII
      string: post_xml=<hold-request-parameters><pickup-location></pickup-location><last-interest-date></last-interest-date><start-interest-date></start-interest-date><sub-author></sub-author><sub-title></sub-title><pages></pages><note-1></note-1><note-2></note-2><rush>N</rush></hold-request-parameters>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version = "1.0" encoding = "UTF-8"?><put-item-hold><create-hold><note
        type="error">pickup location is not valid</note></create-hold><reply-text>Failed
        to create request</reply-text><reply-code>0025</reply-code></put-item-hold> '
  recorded_at: Mon, 04 Mar 2013 18:09:41 GMT
- request:
    method: put
    uri: http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/record/NYU01000062856/items/NYU50000062856000010/hold
    body:
      encoding: US-ASCII
      string: post_xml=<hold-request-parameters><pickup-location>BOBST</pickup-location><last-interest-date></last-interest-date><start-interest-date></start-interest-date><sub-author></sub-author><sub-title></sub-title><pages></pages><note-1></note-1><note-2></note-2><rush>N</rush></hold-request-parameters>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version = "1.0" encoding = "UTF-8"?><put-item-hold><reply-text>ok</reply-text><reply-code>0000</reply-code><create-hold><note
              type="info">Action Succeeded</note></create-hold></put-item-hold> '
  recorded_at: Mon, 04 Mar 2013 18:09:42 GMT
recorded_with: VCR 2.4.0
